---
---

@import "{{ site.theme }}";
img[src*="#thumbnail"] {
   transition:transform 0.25s ease;
   width:200px;
   height:200px;
   object-fit: cover;
   position: relative; 
   z-index: 0;
}

img[src*="#thumbnail"]:hover {
    z-index: 1;
    -webkit-transform:scale(2);
    transform:scale(2);
}

